[2019-01-25 07:43] m-anish opened #1 "Make a budget for setting up a workshop in Zanskar"
What are the tools, resources and money needed to make a workshop in Zanskar that can help support mesh networks there?

Make a budget for the same.

[2019-01-25 07:45] m-anish opened #2 "Make a medium style blog for eka-foundation"
We need to have a blog for eka-foundation, and it would be great if we could somehow do it via medium.

[2019-01-25 07:45] mikkokotila opened #3 "What tools are needed for Skynet build and maintenance?"
Part of #1 but is something generally useful.

[2019-01-25 07:48] m-anish opened #4 "Eka-foundation website design inputs"
The following are required by @mikkokotila to make the website for eka-foundation:

* Palette
* Font
* Logo
* Icon?

[2019-01-25 07:51] mikkokotila commented on #2
For blog we already have some ready content [Things I Learned Building the Skynet](https://medium.com/@skynet.admin/things-i-learned-building-skynet-3033a4ce8992) and [How to Eat Dust](Things I Learned Building the Skynet PART 2 — How to Eat Dust) as well as [Dcentralize](http://dcentralize.net/) and [Thoughts on Pseudo decentralization](https://medium.com/@mikkokotila/thoughts-on-pseudo-decentral

[2019-01-25 07:53] m-anish opened #5 "Create a blog post for the Zanskar deployment"
Create a blog post detailing the deployment in Zanskar going into technical, and human details and the challenges ahead.

[2019-01-25 07:57] m-anish commented on #2
Sounds good.

Also it looks like medium.com deprecated custom domains [a while ago](https://help.medium.com/hc/en-us/articles/115003053487-Custom-Domains-service-deprecation).

For what its worth, I am fine with having the blog be in medium.com. It will be more discoverable there.

[2019-01-25 08:10] m-anish opened #6 "Model energy consumption of a wireless mesh network"
It would be good to compare carbon footprint and energy consumption between skynet mesh networks, and traditional forms of wireless networks.

[2019-01-26 06:36] m-anish opened #7 "Carbon footprint of electronic devices"
@mikkokotila in your carbon-footprint paper, did you have some kind of number for kgCO2e per USD of electronics?

eg: what would be the carbon footprint of a wifi router that costs $14 to purchase? What I am primarily interested in is the energy footprint of its production.

[2019-01-26 06:37] m-anish commented on #7
Related to #6

[2019-01-26 06:43] m-anish commented on #6
If I could break down total energy consumption, I would do so as:

**Manufacturing** + **Transportation** + **Installation** + **Operation**

Traditionally **Operation** might matter more than **Manufacturing**, but in this case, the network is off-grid, so Operational energy consumption is ZERO. I will however, still include those numbers in one sheet, but focus more on the Manufacturing aspect.

[2019-01-26 06:43] m-anish commented on #6
@mikkokotila thoughts?

[2019-01-26 06:49] m-anish opened #8 "Public access to EKA google drive"
Do you have any issues with the following:

1. Make the EKA google drive public to the world?
2. Restrict write access to EKA members?

[2019-01-26 07:02] pdey commented on #8
Can we have a public folder which is public to the world. It may be useful to keep private staff.. drafts and sensitive information such as contacts , machine access etc can be in private folders. Can be separate drives also.. whatever preferable and easier to manage.

[2019-01-26 07:08] m-anish commented on #8
Exactly, I created EKA-private and EKA-public and you would have received invitations for both.

Does that work?

[2019-01-26 07:09] m-anish commented on #6
Work on this lives [here](https://docs.google.com/spreadsheets/d/1SvUVdfQbpbfxWWxNz4fTG5aFbT2Y8AxLijYewV4vaDM/edit#gid=0)

[2019-01-26 07:25] pdey commented on #8
Sounds great!

[2019-01-26 09:43] m-anish commented on #8
So, for closure, the eka-foundation public drive lives [here](https://drive.google.com/drive/folders/1Eoac32SYnjBRZAMkjRXW_v2dNUgWW2CI?usp=sharing).

[2019-01-26 09:43] #8 closed, assigned to pdey, m-anish, mikkokotila

[2019-01-26 09:44] m-anish commented on #5
Blocked by #2

[2019-01-26 09:45] m-anish commented on #2
@mikkokotila has indicated that medium will give back access to the skynet blog, so waiting on that :)

[2019-01-27 10:15] m-anish commented on #7
For what it's worth, I am using [this](https://calculator.carbonfootprint.com/calculator.aspx?tab=7) reference for calculations as of now

According to that for Radio/Telephone/Television the footprint is 0.34kg of CO2e per USD.

[2019-01-27 10:28] m-anish commented on #7
[This](https://www.gov.uk/government/publications/greenhouse-gas-reporting-conversion-factors-2018) seems to be more comprehensive. I will revisit some conversion numbers.

[2019-01-27 10:45] mikkokotila commented on #8
shall we have a wiki page here that has links to all the resources? Then also the other question is about the repos ... now we're in skynet repo with everything. Should we have one which is just 'general' or something like that? (which is kind of what we have now here) and then keep the project repos focused on the corresponding project (e.g. skynet)?

[2019-01-27 10:49] mikkokotila commented on #7
Maybe go through [this](https://www.sciencedirect.com/science/article/pii/S0195925517303505) first as it also involves review / critique of other methods. More importantly though, this is the method we developed specifically for the purpose of assessing energy footprint of internet networks (including content). You can remove the ads part though from the final calculations. It has a very extensive

[2019-01-27 10:51] m-anish commented on #7
Sure! Ill re-read the paper. Thanks!

[2019-01-27 10:52] mikkokotila commented on #6
I think this and #7 need to be addressed as one thing. Also, we had discussed this little bit over the weekend. So I think ideally we would end up with things like "energy cost of making a 1 minute phone call" and "energy cost of watching 1 hour of video" etc. but do that in a way that appreciates the lifecycle cost.

[2019-01-27 11:06] m-anish commented on #8
Yeah, we should have some page.. wiki or otherwise. Wiki seems easiest for not.

Also, I was originally thinking of calling this repo 'lounge' rather than skynet :)

But, agree, there should be a general repo, and then project focused ones, but I wanted to keep things simple until them become complex.

[2019-01-27 11:10] m-anish opened #9 "Reorgainze eka repos/projects"
Following @mikkokotila's comments on #8, we should think about reorganizing the github pages
* to have a wiki with all important links
* have a general overview repo
* track specific work in specific repos, if need be.

Need to discuss this.

[2019-01-27 12:05] m-anish commented on #7
Okay, I will track further progress on this in #6 as this particular issue was opened with a specific question in mind.

[2019-01-27 12:05] #7 closed, assigned to mikkokotila

[2019-01-27 12:19] m-anish commented on #6
Okay a few thoughts.

I read the paper, and it follows different approaches to calculate footprints for different parts of the puzzle. Specifically, it follows a bottom up approach for phones/laptops etc. and a top-down approach for most of everything else. Now, in the context of mesh networks:

* We have good data on power consumption numbers, number of users, and can make good guesses on how muc

[2019-01-27 12:21] mikkokotila commented on #6
Voice conversation will be good, but I think also it will be very valuable to have this thread in writing. We are going now to the very heart of the matter. We need to get @EnergyGuy3 into this discussion as the first step.

[2019-01-30 08:31] m-anish commented on #9
Okay, the following changes have been done
* The 'skynet' repository is renamed to 'home'
* There is a basic [README.md](https://github.com/eka-foundation/home/blob/master/README.md) which contains links to important project resources like
  * Blog
  * Google drive
  * Contact email
  * Meeting minutes.

This doesnt mean that it could be better, but I am closing this now as it addressed the curren

[2019-01-30 08:31] #9 closed, assigned to m-anish

[2019-01-30 08:32] m-anish commented on #4
@sboruah has created a logo for the website, which we are using here as well.
![eka](https://user-images.githubusercontent.com/5288668/51968337-b4978000-2497-11e9-81eb-0548c3a1b979.png)

[2019-01-30 08:33] m-anish commented on #2
[Done](https://medium.com/eka-foundation). Thanks @mikkokotila

[2019-01-30 08:33] #2 closed, assigned to mikkokotila

[2019-01-30 08:34] m-anish commented on #5
This will take longer as I want to have a good amount of detail in this. Moving to milestone 0.2

[2019-01-30 08:36] m-anish commented on #4
@mikkokotila is this done?

[2019-01-30 15:01] m-anish opened #10 "Add relevant details to README.md"
We need to make README.md "camera ready". This issue will track progress.

[2019-01-30 15:05] m-anish commented on #6
It looks like it is a longer term work, than what I was initially thinking - to have the power numbers for mesh nodes. Shifting milestones accordingly.

[2019-01-30 15:10] m-anish commented on #1
Work on this lives [here](https://docs.google.com/spreadsheets/d/1a2oemhJFzckSZeLoR8aqLD9x4iuj0KiUWR05x0XMVz4/edit?usp=sharing).

[2019-01-30 18:39] mikkokotila commented on #10
https://github.com/eka-foundation/home/blob/master/README.md

[2019-01-30 18:40] mikkokotila commented on #4
@m-anish It's all good now. Next @sboruah is working on some line drawings to lively up the site.

[2019-01-30 18:41] m-anish commented on #4
Please open a separate issue if you want to track it here. Closing this.

[2019-01-30 18:41] #4 closed, assigned to mikkokotila

[2019-01-30 18:45] mikkokotila opened #11 "jupyter4kids a.k.a Numerical Computing is Fun"
I will work next on cleaning things up there and will then transfer the notebooks. There is also a video that could be made which is basically a talk I've done several times, which is about 10-15 minutes and basically just introduces the most basic vedic math concept but has the listener walking away feeling like they can count something like 34524 x 94324 in their head. Combined with the idea of

[2019-01-30 18:47] m-anish commented on #10
Oh this is amazing!

On the licensing aspect, since our logo lives in this repo, should we keep it CC-BY atleast? Or move the logo to a separate repo then.

[2019-01-30 18:49] m-anish commented on #11
Feel free to assign a milestone to your work... 0.3 might be good :)

[2019-01-30 18:56] mikkokotila commented on #11
I'll do the notebook clean up and move first. Also there are 3 unpublished notebooks, so we can do those on the first Monday of each month or something like that and maybe make it a monthly thing and keep improving the format.

[2019-01-30 18:58] m-anish commented on #11
Sounds good. Once you do the initial port, we can join in.

[2019-01-30 19:03] mikkokotila opened #12 "Move google doc minutes to github wiki?"
what do you think?

[2019-01-30 19:15] m-anish commented on #12
You mean move minutes to wiki?
I am in favor of keeping it as a running log of things, to which a doc is better suited. The wiki can contain more crystallized info.

[2019-01-31 09:31] m-anish opened #13 "Youtube channel art"
I created a [youtube channel](https://www.youtube.com/channel/UCZqLHZKess48Kk42U4-Wl5g) where we may upload relevant videos we create down the line. To that end, a custom channel art would be great to have. [This link may be helpful.](https://support.google.com/youtube/answer/2972003?visit_id=636845236053718067-2484561800&p=picker_channel_art&hl=en&rd=1)

[2019-01-31 09:32] m-anish commented on #13
@sboruah @mikkokotila, or anyone else watching this...
help needed here :)

[2019-01-31 11:19] mikkokotila commented on #11
Done. Closing here.

[2019-01-31 11:19] #11 closed, assigned to mikkokotila

[2019-01-31 11:33] m-anish commented on #11
Great! For future reference, here is the [link](https://github.com/eka-foundation/numerical-computing-is-fun).

[2019-02-04 13:13] mikkokotila opened #14 "links to website"
Next, we have to use any means (personal websites etc) to create links to eka.to website with keyword "eka foundation" and "eka" and "the eka foundation".

[2019-02-04 14:09] EnergyGuy3 commented on #6
I think also that if Skynet is not consuming power off the grid, it means that the carbon footprint is from manufacturing of devices, dissemination and maintenance of infrastructure. I think that maintenance is insignificant or very hard to define, so I would leave that one out also. If I undestood correcly from Mikko, most of devices are recycled, this means that Skynet has not acquired them for

[2019-02-04 14:15] mikkokotila commented on #6
@EnergyGuy3 thanks! What do you think would be meaningful here in terms of energy efficiency, maybe that's a better way to approach it?

[2019-02-04 14:16] mikkokotila opened #15 "Comparing computing resources across available devices in market"
What do you think if we start a spreadsheet where we have several columns like (ram, cache, cpu, price) and then use that to have a "cost per compute" index.

[2019-02-04 14:17] mikkokotila commented on #15
To add, I think there are some critically important non-computer factors:

- unlocked openwrt support
- contact/support with vendor
- radio quality
- availability
- form factor?

What else?

[2019-02-04 14:26] mikkokotila commented on #15
Turns out Wikipedia has a great [comparison table for single board computers](https://en.wikipedia.org/wiki/Comparison_of_single-board_computers). No pricing though.

[2019-02-04 14:27] mikkokotila commented on #15
Here is [very nice alternative for NUC](https://www.kickstarter.com/projects/udoo/udoo-bolt-raising-the-maker-world-to-the-next-leve)

[2019-02-04 14:59] m-anish commented on #15
Sounds good. Do you want to create one on the google public drive?

[2019-02-04 15:01] m-anish commented on #12
We can revisit this in the future after a few weeks to see how things are going. Keeping open.

[2019-02-04 15:03] m-anish opened #16 "Write about Rakkar treasure hunt activity with children"
In 2018, we did a very enjoyable and interesting activity around a treasure hunt and mesh networking and OLPC laptops. It would be amazing if there was a blog post about it.

[2019-02-04 15:06] m-anish commented on #3
@mikkokotila  Are we talking about actual on the ground tools (hardware, resources etc.) needed for on field deployment and maintenance, or about development tools - like compute resources, virtual machines, build servers, internet bandwidth?

The former is being tracked in #1

[2019-02-04 15:09] m-anish opened #17 "Create video podcasts"
It would be nice to have video podcasts for discussing topics around mesh/decentralization/eka.

[One reference](http://youtube.com/user/unleashkids) that may be interesting.

[2019-02-04 15:12] m-anish opened #18 "Mesh node firmware design"
As discussed in this weeks call, we need to brainstorm ideas for what would be a good design for wireless mesh.

Some themes/topics:
* Caching
* Name resolution
* DHCP
* Service advertisement and discovery (avahi, bonjour et. al.)
* Resilience
* Identical nodes versus a sliding hardware scale
* How far do we deviate from stock openwrt or openSECN

It would be great if someone could take the lead o

[2019-02-04 15:15] m-anish opened #19 "Troubleshooting mesh networks"
How can we make mesh networks more easy to troubleshoot. We need to think in terms of decentralization and user experience.

[2019-02-04 15:19] m-anish commented on #19
Some ideas:

* How to make the mesh nodes communicate whats wrong
* Must resolve to actionable human steps.
* Think of how this may be done in a decentralized way.

[2019-02-04 15:20] m-anish opened #20 "Upload zanskar photos to drive"

[2019-02-04 15:27] m-anish commented on #1
@sboruah Could you add a tab to the spreadsheet and make a budget for conducting workshops as you were mentioning in this week's call?

[2019-02-04 15:32] m-anish commented on #19
Actually it would be really nice to have @sboruah inputs on this, especially the User Interaction part.

[2019-02-06 11:09] mikkokotila opened #21 "The four icons and map for website"
@sboruah I've now completed the mechanics for the page following the system I had shared, with look and feel that follows the current site. I can do the rebuild once I get the four "icons" and the map illustrations from you. After that I will have to think about how to best handle what happens when you click "read more" on one of the main sections.

[2019-02-06 13:11] m-anish commented on #6
Looks like more discussion needs to happen on this. Bumping to [0.4](https://github.com/eka-foundation/home/milestone/4)

[2019-02-07 10:59] mikkokotila commented on #19
It seems that *"How to make the mesh nodes communicate whats wrong"* would be the simplest to overcome with `nmap -sn 172.20.10.0/24 -oG - | grep Host | cut -d ' ' -f2` and then comparing that to an expected list. What do you think?

[2019-02-07 11:16] m-anish commented on #19
Sure we can think of approaches. I think we can already glean similar info to what you describe above from what SECN shows in its status tab.

There are other factors at play too:

1. What if your antenna is pointing in the wrong direction
2. How is the wifi signal strength - how is the link bandwidth
3. Something's up with the power section
4. Other unforeseeable issues

And then the UX part. :)

[2019-02-07 16:17] mikkokotila commented on #19
Great :) Also, I made a mistake ... I think nmap address possibly the part "what is the network to do technically to find out which nodes are down" ... this might be a very simple, yet robust way to achieve that assuming that in a mesh the single node is able to propagate the nmap probe throughout the mesh in the first place. Maybe next level complexity is to capture the signal strength from node

[2019-02-07 16:19] mikkokotila commented on #19
The second part is the UX. It seems that as a preliminary step, is that we create a taxonomy of all the network issues that are already known for us.

[2019-02-07 16:43] mikkokotila opened #22 "Taxonomy of network issues"
Initiated by #19

Network issue here means an event that has caused or has the potential for causing any part of the network to drop or reduce quality of service.

**questions to answer**

- What are statistically speaking the most common issues in networks in general?
- What issues have we experienced first-hand in networks in general?
- What issues have we experienced first-hand regarding mesh n

[2019-02-07 16:58] mikkokotila commented on #10
Once we have some illustrations, I think we can have nice README.md ... it was something I wanted to do for a long time.

The rest was moved to #23

[2019-02-07 16:59] mikkokotila opened #23 "Copyright thread"
From #10

Related with the rights/claims/notice topic, the four options seem to be:

1. go with the current
2. change to cc-by (or other established one)
3. go back to modifying an established one
4. no claim whatsoever (not even cc public domain)

There is also the separate direction where different aspects might have different claim to it, but it seems more straightforward to have one pick and s

[2019-02-07 17:39] m-anish commented on #23
I would go for CC-BY or CC-BY-NC (the latter if we want to be more restrictive.. for now).

I am fine with either, as they are widely understood.

[2019-02-07 17:42] m-anish commented on #10
Sounds good!

[2019-02-07 17:43] m-anish commented on #19
I agree. Once we sort #22 out, then we can work on the design/UX part. Removing @sboruah for now from this.

[2019-02-08 14:24] mikkokotila commented on #23
For [CC-BY](https://creativecommons.org/licenses/by/2.0/) it says:

There is a nuanced question here about how limiting this is in comparison to public. It seems that change is notable. For example, I imagine that in the future NGOs are increasingly replaced by "social enterprise" as well as all enterprises becoming more "social". I think is particularly true for smaller business. Trying to think

[2019-02-08 19:06] m-anish commented on #23
I see the CC-BY as a viral kind of license, and it does have lock-in in that sense. It says that we are engraving a certain value set in this licence and want to ensure that value set isn't compromised going further down the road.

There is nothing in CC-BY that prevents for profit enterprises to spring up. I see it similar to GPL in a content - software sense, and I believe GPL plays a big part i

[2019-02-09 10:44] mikkokotila commented on #23
Is there something that CC-BY materially adds (which is important to us) which is not there with CC0? Is CC0 missing something that CC-BY has?

[2019-02-09 13:33] m-anish commented on #23
Yes!

CC0 means that the output of this work may be used in any which way, including for profit uses (like taking something public domain, making a tiny change to it, making it locked down/proprietary, and scaling up the alternative with capital investment), which may be detrimental to our mission.

CC-BY **ensures** this cannot happen to an extent.

[2019-02-09 18:39] mikkokotila commented on #23
Yes, that is the established position behind CC-BY. I'm suggesting that there might be a fundamental flaw hidden in it. I think two observations have to do with this.

1) CC is primarily designed / driven by not-for-profit forces
2) CC is created to solve an old world problem

There are three important forces to consider first:

- not-for-profits will be increasingly replaced by social enterprises

[2019-02-10 02:27] m-anish commented on #23
**EDIT: Please see this [first](https://github.com/eka-foundation/home/issues/23#issuecomment-462102936), then read the comment below.**

Tagging @holta This is a very interesting conversation!

100% agree with this. Let's keep discussing.

The way I see it..

* CC-BY is well understood, or for that matter GPL (which is what I am suggesting all code be written in). Most existing work we are buildi

[2019-02-10 02:45] m-anish commented on #23
With that said, we could adopt a policy like CC0-wherever-possible, which would still make it possible to work off of existing work and have it licensed accordingly, so it doesnt become a legal minefield

anyway, lets keep discussing.

[2019-02-10 04:32] m-anish commented on #23
I **just** realized that all this while when I was saying CC-BY, I really meant CC-BY-SA.. which is more 'copyleft' GPL like. So please see this as a discussion between that and CC0 accordingly.

Sorry.

And in the context of this comment...

CC-BY doesn't really restrict anything. I feel that was a blanket legal statement which doesn't have much meaning in context of CC-BY. It certainly has meani

[2019-02-11 16:47] m-anish commented on #20
Doesn't look like this is happening. We'll reopen another issue whenever @Ishanchr decides to accept his invitation (pending 2+ weeks).

[2019-02-11 16:47] #20 closed, assigned to nobody

[2019-02-13 03:17] so-ale commented on #13
@m-anish
Where does the channel art go? any examples?
Also, what are the dimensions for the image needed?

[2019-02-13 03:18] m-anish commented on #13
Check [this link](https://support.google.com/youtube/answer/2972003?visit_id=636845236053718067-2484561800&p=picker_channel_art&hl=en&rd=1)

[2019-02-15 07:58] m-anish commented on #17
First stab at a [video screencast](https://www.youtube.com/watch?v=FBIUpZzZsmg).

Comments @mikkokotila @so-ale @sboruah please.

[2019-02-16 05:29] m-anish commented on #17
Created [media repository](https://github.com/eka-foundation/media) to facilitate this.

[2019-02-16 08:16] m-anish commented on #17
Created [media repository](https://github.com/eka-foundation/media) to facilitate this.

[2019-02-18 13:10] m-anish commented on #5
[Initial](https://medium.com/eka-foundation/en-meshed-in-la-la-land-part-1-34e0ce29ea1b) blog post. More to come.

[2019-02-18 14:14] m-anish opened #24 "Idea | Decentralized grid-connected solar"
This came up in a conversation today with Mikko. We could do an initial estimate of what would be needed to pilot a decentralized grid-connected solar setup.

[2019-02-18 18:27] m-anish opened #25 "Brainstorm mesh/IIAB applications"
What can be potential applications for mesh networks, that add value to the lives of users

* Hyperlocal weather data, 'ag-tech' sensors, and training AI models to do predictions
* Applications around water conservation
* How EKA/mesh might help with cultural preservation
* Facebook/Craigslist equivalent
* Healthcare
* and more...

Please use this issue as a starting point for this discussion, and

[2019-02-18 18:32] m-anish opened #26 "Better understand agricultural financial and sustainiability models"
Explore whether there is any room for such a study which EKA can support in any way.

[2019-02-18 18:35] m-anish opened #27 "Ethnography, documentation and workshop plans for Zanskar"
@sboruah discussed about the idea of conducting workshops, and ethnographic studies and improving user engagement, and developing a better understanding.

Related, can we also think about building and disseminate materials for web-literacy.

[2019-02-18 18:36] m-anish commented on #27
@sboruah can you think in terms of a plan for Zanskar for this. What are the different activities you'd like to see done while in Zanskar? What work/preparation do we need before we go there?

[2019-02-18 18:37] m-anish commented on #27
@Ishanchr perhaps you can help brainstorm here too.

[2019-02-18 18:40] m-anish opened #28 "Handling multiple languages - Zanskar"
How do we handle the various languages that are spoken/understood in context of mesh design in Zanskar.

Spoken languages - Zanskari (similar to Ladakhi), Urdu, Hindi, English (in that order)
Written languages - ?
Languages used in school - ?

How do we go about designing apps / services with this knowledge in mind.

[2019-02-18 18:47] m-anish commented on #13
@so-ale @sboruah @Ishanchr can someone cook up some quick mockups, so I can get started :)

we can always improve things later. Feel free to assign the issue to yourself if you're working on it.

[2019-02-19 04:29] m-anish commented on #19
Okay, can we schedule a short call between @mikkokotila @EnergyGuy3 @pdey me to start narrowing down on actionable design steps?

[2019-02-19 04:34] m-anish commented on #15
In the absence of this research, as the time comes closer to deploying on the field, I'm just gonna go with standard, trusted, reliable models:
* Intel NUC
* Rpi 3b+

Bumping the milestone to the future

[2019-02-19 04:42] m-anish commented on #17
We should identify a list of videos to be made: @mikkokotila @sboruah @Ishanchr

[2019-02-19 04:58] m-anish commented on #6
Bumping milestone and assigning to mikko to figure out the what/why of this and next steps required.

[2019-02-19 05:07] m-anish commented on #12
Okay, so it's been three calls and five weeks, and I feel reasonably comfortable maintaining the minutes on the google document. So, for now, lets stick to that. Feel free to reopen this in the future if you want to change that.

[2019-02-19 05:07] #12 closed, assigned to m-anish

[2019-02-19 05:14] m-anish commented on #13
Can look at providing access to the EKA youtube channel to tinker with channel art if you feel like

[2019-02-19 07:14] mikkokotila commented on #3
I think here we are talking about build and maintenance tools. But it seems that it constitutes a thread of its own.

[2019-02-19 07:15] mikkokotila commented on #6
@EnergyGuy3 is on winter holiday. Also he just shifted his role in his company so probably very busy when he comes back. Better leave this for a couple of weeks and come back to it.

[2019-02-19 07:21] m-anish commented on #3
So, maybe we can track the tools/expenses in a spreadsheet?

[2019-02-19 07:22] m-anish commented on #6
Sounds good. Removing any active milestone from this.

[2019-02-19 07:26] mikkokotila commented on #23
Ok great, that simplifies the discussion.

So first briefly on statements. It seems that any kind of right claim is a statement. To me it seems there are two different kinds of things being stated:

1) This is how I view the topic of ownership (explicit)
2) Here is who I think is good and who is bad (this is implicit)

For the 2 it's worth noting that we don't actually have an explicit model to re

[2019-02-19 07:28] mikkokotila commented on #28
One of the things we did not discuss yesterday is how at least in Ladakh (and widely in India) Hindi is ok as a spoken language.

The question about designing apps / services...I think the idea we've had for some time i.e. avoid "content" and instead provide tools that empower (e.g. phone calls) is useful here. Say we have a "rule" that whatever we introduce is language agnostic (like calls) it en

[2019-02-19 07:32] mikkokotila commented on #17
Can someone interview you. Tell the story from OLPC onwards? Then I could follow through with something similar where I film it but you interview me via discourse (I position it next to camera so it seems to me like an actual interview and your voice is coming out like it would)...maybe that interview can be more about everything that is wrong with the formal internet. What do you think? I can do

[2019-02-19 07:33] mikkokotila commented on #22
This is same thing with @energyguy3. We need to get him on board for this.

[2019-02-19 07:35] mikkokotila commented on #19
I think that's a great way to proceed. He should be available on one of the days next week. Maybe better later in the week as he is coming from holiday.

[2019-02-19 07:45] mikkokotila commented on #3
sure

[2019-02-19 07:53] mikkokotila opened #29 "Zanskar Agriculture Research"
Carving this out from #27.

As the title indicates, here we are focused on the agriculture aspect. While I appreciate that there might be other aspects that are interesting/valuable as well, given our limited resources, I suggest that in terms of formal research we focus on this topic for now.

As the first step, we can conduct a literature research on [zanskar agriculture](https://scholar.google.

[2019-02-19 08:41] mikkokotila commented on #29
My friend suggested we contact [Juha Helenius](https://www.helsinki.fi/fi/yliopisto/henkilohaku/juha-helenius-9034435) and [Jukka Kivela](https://tuhat.helsinki.fi/portal/fi/persons/jukka-kivela(00ec1244-aef3-4195-a91e-c696500a5550).html) regarding possible phd students. I will do it once we have the association formalized.

EDIT: one more is J[enny Ohman](https://www.linkedin.com/in/jenny-%C3%B6h

[2019-02-19 08:42] mikkokotila commented on #29
I might be better for us to find one in India, because they speak Hindi generally and are in the same country, and there is also a much bigger base to source from. What schools do you think would be suitable?

[2019-02-19 08:59] m-anish commented on #28
I agree with this in spirit, but we still probably need to think about it, for example, in the context of [this](https://github.com/eka-foundation/blockable)

[2019-02-19 09:04] mikkokotila commented on #29
Related with this, the sensor project [Farmism](https://github.com/eka-foundation/farmism) is now moved under Eka github.

[2019-02-19 09:06] mikkokotila commented on #28
Sure, it is an important question to think about related with a GUI focused API. I've created an [issue](https://github.com/eka-foundation/blockable/issues/2) for it.

[2019-02-19 13:26] m-anish commented on #28
Wonderful. I think this issue is best handled by the one you opened, in the repo that you opened. Closing this.

[2019-02-19 13:26] #28 closed, assigned to nobody

[2019-02-19 13:36] m-anish commented on #29
I'll start looking. Great progress!

[2019-02-19 13:38] m-anish commented on #3
Work on this now lives [here](https://docs.google.com/spreadsheets/d/1OaX6eQRHx79hJDySZjl5tM0q2TYgGv93DkAiioQwTgo/edit?usp=sharing).

[2019-02-19 13:39] m-anish commented on #22
Bumping to 'future' milestone.

[2019-02-19 13:41] m-anish commented on #19
@mikkokotila Cool. Please coordinate with him and suggest a time. My schedule is very flexible, and hopefully so is Prasenjit's.

[2019-02-19 14:02] m-anish commented on #17
Hmm. Lets set a common pool of starting questions, and then the interview can go anywhere after that.

Example:
* Tell a little bit about yourself?
* Tell us what you think about the internet?
* Tell us why you got involved with EKA/what do you think about it?
* and then go on from there...

[2019-02-21 13:21] m-anish commented on #23
Let me try and answer this particular question.

I would venture to say, as I've said before (third para [here](https://github.com/eka-foundation/home/issues/23#issuecomment-461911173)), that I don't believe a custom license is a tangible option for us, atleast at this point, so this is a question for the future.

This leaves us with:

I would first try and elaborate what 'aversion' means. Aversio

[2019-02-21 13:26] mikkokotila commented on #23
May I entice you to engage in this matter without regard for outcome. I think when we are already focused on the outcome (this good, this not good) we tend to limit our thinking. In that light, what would you answer to the question then? Assuming there were no resource or other blocks. For the other question as well, I want to encourage you to think about it without any perceived blocks.

To take

[2019-02-21 13:27] m-anish commented on #23
That is something I would love to take part in!

[2019-02-21 13:50] m-anish opened #30 "Future of OSS licensing: wanted and unwanted use"
Following from #23 this issue opens the space for free discussion on copyright.

[2019-02-21 13:52] m-anish commented on #23
I opened #30 to take this forward.
@mikkokotila could you then, for now replace the CC0 with CC-BY-SA on the read-me and close this, while we discuss copyright more broadly.

[2019-02-22 05:46] thepoeticdream commented on #29
[Association Rigzen Zanskar](https://rigzen-zanskar.org/en/homepage/) has projects in Zanskar that falls in EKA focus.  If don't know them should visit on upcoming trip to learn more

[2019-02-22 06:09] thepoeticdream commented on #24
Upcoming Enphase IQ8 microinverter bears some study.  Looks ideal for rural microgrids but release to market still unknown.

[2019-02-22 12:19] m-anish commented on #29
There were many NGOs in Zanskar when we went there. Agree, we should find out more and cultivate relationships. Do you happen to know these guys personally?

[2019-02-22 12:20] m-anish commented on #24
@thepoeticdream let us know if you think there is something that could be tried out this year in Spiti or Zanskar.

[2019-02-24 04:45] thepoeticdream commented on #29
No. Would guess many of these NGOs are tackling the same problems so should see what solutions they're coming up with in charting EKA efforts

[2019-02-24 18:40] thepoeticdream commented on #24
It looks like there are a lot of solar installations in the area and it would be helpful to get a better understanding of the solar ecosystem to see how they're implemented and what's working and not and why.  Guessing lead acid battery failure will the popular one for a solar system not working anymore. It would be helpful to know who the solar players are in the area too, the locals who have the

[2019-02-25 16:38] thepoeticdream commented on #24
[Ladakh will soon be home to world's largest solar plant](https://timesofindia.indiatimes.com/india/ladakh-will-soon-be-home-to-worlds-largest-solar-plant/articleshow/67507422.cms)

5000 megawatts, 45,000 crore, 2023 completion.  It also seems "hill councils" will earn rental income for the land where the solar project will reside.  Will such money spur development in the area?Transmission lines w

[2019-02-25 16:47] mikkokotila commented on #24
As I recollect, Ladakh has invested heavily in a damn, that damn have been operational for sometime, and Ladakh is apparently currently using a small fraction of the available energy. The issue with Ladakh is more on demand rather than supply; there is an exodus of top talent to major cities and abroad. There is very little in terms of production in Ladakh. In Leh up until few years ago there were

[2019-02-25 16:53] mikkokotila commented on #24
This looks brilliant. What is the concrete difference between IQ8 and IQ7? Do you have idea about the pricing for these guys?

[2019-02-26 02:35] m-anish commented on #24
Do you think we should email the enphase guys? They might be interested in seeing their technology work in one of the remotest, harshest places on earth.

[2019-02-26 03:08] m-anish opened #31 "Discoverable, decentralized, cached live video streaming"
As a subset of #18 , one of the requests from Zanskar to focus on the live video streaming aspect of the mesh network.

The current implementation involves running vlc on a windows laptop and using its web camera and microphone to create a live video stream, and then asking users in different places to open that live stream in their vlc instances. This works well, but suffers from:
* The fact that

[2019-02-26 05:12] thepoeticdream commented on #24
IQ7 will not provide power when the electrical grid is down. The IQ8 will continue to provide power when the electrical grid is down or it will provide power via solar/battery in a no-grid setup which becomes a real microgrid. The other development is AC modules where the microinverter is packaged to the solar panel which simplifies installation.  Waaree is in a partnership with Enphase and they o

[2019-02-27 03:33] thepoeticdream commented on #24
Enphase reported their latest financials today.  Also mentioned shipping IQ8 microinverter this quarter to India and Africa to mystery partner that put up the money for it's design.  The IQ8 may be available for general release to market around fourth quarter.

So very well could start seeing the IQ8 microinverter showing up in the India solar landscape soon deployed by the mystery partner.

[2019-02-27 17:02] thepoeticdream commented on #24
[BRINGING LIGHT AT 13,000 FEET: LADAKH’S FIRST SOLAR ENGINEERS PROVIDE OFF-GRID ENERGY ACCESS TO ONE OF THE MOST REMOTE AREA OF THE WORLD](https://www.barefootcollege.org/ladakh-global-himalayan-expedition/)

Barefoot College in collaboration with GHE trained women solar engineers Yangchan and Angmo of Ladakh who are solar electrifying villages in Ladakh.  They were trained at Barefoot College's T

[2019-03-01 14:57] m-anish commented on #13
@sboruah could you please commit to the [media](https://github.com/eka-foundation/media/tree/master/youtube-channel-art) repository, the three images you created for the eka.to website. The minimum resolution should be 2560x1440px. I will use them for the channel art.

Alternatively, if you have the bandwidth, you can provide the images needed in this resolution as described [here](https://support

[2019-03-01 18:02] m-anish commented on #13
Preliminary channel art added based on images given by @sboruah. Please visit the channel [here](https://www.youtube.com/channel/UCZqLHZKess48Kk42U4-Wl5g)

Thoughts? (@mikkokotila @Ishanchr @sboruah @so-ale )

[2019-03-02 07:04] m-anish commented on #29
[Related issue on IIAB project](https://github.com/iiab/iiab/issues/1539)

[2019-03-02 14:31] m-anish commented on #31
[This](https://medium.com/@yenthanh/setup-a-rtmp-livestream-server-in-15-minutes-with-srs-1b0046c77267) might be interesting to try out.

[2019-03-03 04:40] thepoeticdream commented on #29
[In the Lap of the Mountains - Irrigation Systems of Ladakh's Farming Communities](https://www.youtube.com/watch?v=Mhmf1FO4bM8)

Very good presentation on traditional irrigation system made with the collective effort of the village and requires collective effort to maintain and repair the system.

[2019-03-03 05:17] thepoeticdream commented on #29
[Catalysts of Change - Ladakh video](https://www.youtube.com/watch?v=3xvDIIBi9Es)
[Catalysts of Change pdf report](https://cdkn.org/wp-content/uploads/2014/08/CatalystsofChange-ProjectReport.pdf)

At 6:30 in video can see the [Sutron Automatic Weather Station](https://www.sutron.com/product/portable-automatic-weather-stations-aws/) setup in Serthi (Sakti) village in Leh.  The weather station was p

[2019-03-03 05:30] m-anish commented on #29
Nice. We could either do off the shelf, or deign little PCB's that people can solder themselves. :)

The latter will involve them in the process, but higher risk of things not working.

[2019-03-03 06:06] thepoeticdream commented on #29
Talking about things working or not working - would be helpful to know the fate and impact of the weather station and climate school in Serthi (done 2014?) and if the farmers were able to utilize the collected weather data set to improve farming yields.  Believe the data from the weather station was supposed to be interpreted by the Indian Meteorological Department Jammu Kashmir and then dissemina

[2019-03-03 08:52] m-anish commented on #18
[Related issue](https://github.com/iiab/iiab/issues/1540)

[2019-03-04 13:06] m-anish commented on #13
This looks good enough for now. Closing.

[2019-03-04 13:06] #13 closed, assigned to m-anish

[2019-03-04 13:12] m-anish commented on #23
The remainder of this issue is being tracked in
* #10 for fixing the readme with the CC-CY-SA logo, and any other improvements
* #30 for the longer copyright discussion.

Closing this.

[2019-03-04 13:12] #23 closed, assigned to mikkokotila

[2019-03-04 15:36] mikkokotila opened #32 "Drone permit for India"
I can bring the drone, but we need to have the India permit (the new program is live now apparently now).

[2019-03-05 03:33] thepoeticdream commented on #29
[Impact of climatic change on agro-ecological zones of the Suru-Zanskar valley, Ladakh (Jammu and Kashmir), India](https://www.researchgate.net/publication/260319959_Impact_of_climatic_change_on_agro-ecological_zones_of_the_Suru-Zanskar_valley_Ladakh_Jammu_and_Kashmir_India)

Good paper on Zanskar agriculture that identifies Zanskar villages by their agricultural productivity.  Some excerpts below

[2019-03-07 02:11] m-anish opened #33 "Freepbx IVR voice messages in Hindi and Tibetan"
[Related](https://github.com/eka-foundation/blockable/issues/2) to this, it would be great to have multi lingual support in FreePBX.

[2019-03-07 02:20] m-anish commented on #29
@thepoeticdream asked whether a greenhouse can be used for planting Seedlings to be ready ahead of cultivation period?
@m-anish says currently it is not used.

[2019-03-07 02:20] m-anish opened #34 "Mud house design in Zanskar"
Opening this issue to discuss any mud-house related ideas

- Mud houses - Yak dung for building/heating
- Double-paned Windows with wooden frame - does a decent job
- One room converted to a sun-room which also passively heats the sleeping room to use at nights

[2019-03-07 02:22] m-anish commented on #29
Another idea is half-buried-in-the-ground Greenhouses but there is no water for irrigation (or it is hard to get)

[2019-03-07 02:23] m-anish commented on #29
More ideas:
* Explore the work by GoGreenGoOrganic - Seabuckthorn and Potato
* Explore Ice Stupas (being tried out for the very first time in Zanskar this year)

[2019-03-07 03:45] m-anish commented on #31
See [this](https://github.com/iiab/iiab/issues/1546) related issue. Some promising options there.

[2019-03-07 05:48] thepoeticdream commented on #29
The farm season is 4 months so time is critical.  Having seedlings grown in greenhouses during winter and ready to plant once the ground is ready in spring can give a significant time advantage.  Have read that farmers keep soil stored away to throw onto the snow on the farm plot to accelerate snow melting when planting season approaches.

One idea is a village/regional greenhouse that grows seedl

[2019-03-11 06:33] m-anish commented on #31
Okay! So I did some more research on this:

1. I tried [YouPHPTube](https://www.youphptube.com/), which claims to be able to broadcast to a website from a mobile phone. I setup the service on a VM smoothly enough, but am working through issues getting the streaming stack up. This seems like a traditional working solution - **the safe bet**. I will update if I get things operational. This also come

[2019-03-11 18:21] m-anish commented on #31
Update. I was able to get basic live streaming to work with YouPHPTube. So we have some kind of a working solution now.

Onwards towards something smoother, and closer to being more decentralized.

Separately, I will work on a playbook to get YouPHPTube into IIAB.

[2019-03-11 19:00] holta commented on #31
How realistic/practical might it be for educators to "publish" short videos from their Android phones[*] (or short screencasts/tutorials from their laptops) to YouPHPTube on IIAB?

[*] whether 100% homebrewed or from WhatsApp, or YouTube itself...which contains a ton of very thoughtful educational vids and visualizations (amid the swamp ;)

ASIDE: many YouTube science demonstrations are more vivid

[2019-03-11 19:04] m-anish commented on #31
Another update. Me and @sboruah were able to test that she could livestream from her phone's camera, and I could watch it in a browser.

There is one limitation: The live stream does not get recorded directly onto the site, and it seems that the feature is enabled through a [paid plugin](https://github.com/DanielnetoDotCom/YouPHPTube/wiki/Record-Live-Stream). There is a work around though, as it i

[2019-03-11 19:05] m-anish commented on #31
@holta for what its worth, streaming, transcoding requires significant compute resources, so if IIAB is running on decent hardware (i3 NUC or so), then it is entirely possible.

[2019-03-12 12:04] mikkokotila commented on #21
Done. Closing here.

[2019-03-12 12:04] #21 closed

[2019-03-12 12:05] mikkokotila commented on #14
In progress. Some done already. Closing here.

[2019-03-12 12:05] #14 closed, assigned to nobody

[2019-03-12 12:05] mikkokotila commented on #32
Any updates with this, as it might take time to process.

[2019-03-12 12:06] mikkokotila commented on #1
This seems to be done. Shall we close?

[2019-03-12 12:06] m-anish commented on #1
Oh yes!

[2019-03-12 12:06] #1 closed, assigned to m-anish

[2019-03-12 12:07] m-anish commented on #1
Thanks @mikkokotila @sboruah @Ishanchr @pdey for pulling through on this!

The budget lives [here](https://docs.google.com/spreadsheets/d/1a2oemhJFzckSZeLoR8aqLD9x4iuj0KiUWR05x0XMVz4/edit#gid=0)

[2019-03-12 14:07] m-anish commented on #32
Tagging @sboruah

[2019-03-13 01:10] thepoeticdream commented on #29
[Passive Solar Greenhouse in Ladakh](http://www.solaripedia.com/files/1087.pdf)

Great report that touches on many aspects in deploying greenhouses in Ladakh and it's impact and trying to attain sustainability

[2019-03-13 04:24] m-anish commented on #3
Okay, so I populated the sheet linked above with basic information. We also have a detailed list of things in the budget, so the purpose of this sheet is not super clear at this point.

Nevertheless, we do have some kind of list here, and can always revisit it in case we need to.

Closing!

[2019-03-13 04:24] #3 closed, assigned to m-anish, mikkokotila

[2019-03-13 04:26] m-anish commented on #33
This is on my plate for Zanskar this year.

[2019-03-13 04:27] m-anish commented on #27
Okay, some discussion happened on this during the budget making exercise. Bumping milestone.

I think we can close this once we have this documented.

[2019-03-13 04:31] m-anish commented on #17
This now has an additional dependency that @mikkokotila wants to standardize on video equipment.
We need to discuss this because that places problems if I want to produce lots of videos quickly, i.e.

* learning curve
* significant post production effort
* compute resources needed

[2019-03-13 04:32] m-anish commented on #16
No activity here - bumping to future milestone.

[2019-03-13 04:33] m-anish commented on #10
Can you take this up after the website @mikkokotila

- [ ] Make any enhancements to the readme as you feel like
- [ ] Replace CC0 with CC-BY-SA

[2019-03-13 04:34] m-anish commented on #5
I wrote another [blog post](https://medium.com/eka-foundation/enmeshed-in-la-la-land-part-2-9799b6f8e9d2)

I think it will need two more posts to close this out.

Bumping milestone.

[2019-03-13 04:36] m-anish commented on #19
We need to start moving on this, so I have reassigned this to me in context of short term goals for this season. If you want to discuss longer term design with @energyguy and the rest of us, open a separate issue about it.

[2019-03-13 04:37] m-anish commented on #29
Great to have david continuing to research on this. If this starts becoming like a reasonable goal for zanskar, then I will bring the zanskar-2019 tag to it.

As is, bumping milestone.

[2019-03-13 04:39] m-anish commented on #18
Another [related issue](https://github.com/iiab/iiab/issues/1540) to this.

Bumping milestone

[2019-03-13 04:40] m-anish commented on #31
Bumping milestone. Good progress happened on this over the week.

[2019-03-13 04:41] m-anish commented on #26
Bumping to future milestone. Current agri issues being discussed in another ticket.

[2019-03-13 05:18] m-anish opened #35 "Use mdns/zeroconf for ESP8266 based sensor nodes"
Related to #18 , whenever we get to designing the ESPEasy/ESP8266 sensor nodes, we should look at mdns/zeroconf. It already [seems to have support](https://github.com/letscontrolit/ESPEasy/pull/418) for it.

[2019-03-13 07:10] m-anish commented on #25
Radio | OpenWebRX - SDR related work being tracked [here](https://github.com/iiab/iiab/issues/1564)

[2019-03-13 09:50] mikkokotila commented on #17
So maybe no standards? Just capture. For specific projects we might then become more focused on production standards (4k, log profile, etc.)

For questions maybe "how did you get started with internet" ... "how did you become interested in working with local communities" ...

[2019-03-13 09:54] mikkokotila commented on #25
To get started...

- Doctors depend on access to medical resources > Provide access to medical resources.
- People depend on phone calls and messaging > Provide access to reliable phone calls and messaging.
- People want to follow pujas and hear teachings > Provide ability for live streaming.
- Farmers can benefit from access to weather predictions > Provide access to weather predictions.
- Kids c

[2019-03-13 09:58] mikkokotila opened #36 "Is there are strong case for having Wikipedia in Skynet?"
I have been thinking about this. The reliability of information is very poor, articles are often heavily polarized, absolute statements are made using garbage citations, articles are fiercely defended, contests are win by knowing how to refer to endless wikipedia "policies" as opposed to actually having the ability to structure a strong case, they openly embrace hostility towards alternative views

[2019-03-13 10:12] mikkokotila commented on #10
This is done alraedy. I think you have to clear cache, otherwise you end up seeing the old image.

[2019-03-13 10:17] m-anish commented on #10
You just updated the link, but not the image.

Anyway, these two commits fix this.. closing!
https://github.com/eka-foundation/home/commit/2aa6292895b8810f5ed92b7a010957f843e4bd8d
https://github.com/eka-foundation/home/commit/e52d151a54de5f1c9d03fca578a08789e7570415

[2019-03-13 10:17] #10 closed, assigned to mikkokotila

[2019-03-13 10:21] m-anish commented on #31
One challenge with p2p hls webrtc based solution seems to be that we might have to build apps, or hunt for existing ones, that can do a live stream.

[2019-03-13 10:22] mikkokotila commented on #31
Let's see...maybe not. Maybe we just have to allow it through a browser by simple means. Let's see.

[2019-03-13 10:23] m-anish commented on #31
I'm talking of mobile phones. People accustomed to using apps, so it might be the preferred way. Desktop will have to be browser based.

[2019-03-13 10:24] mikkokotila commented on #31
Well, I think people are more accustomed to go to a browser than to an app, even if you count all apps combined vs. browser. But surely browser will win every time a custom made app for a single purpose.

[2019-03-13 10:24] m-anish commented on #31
Also, I have little knowledge of app development, but maybe the security model in phones also encourages apps rather than webcamera+mic permissions in a browser. Anyway, I dont know very well about this, so perhaps that's why I think someone more adept needs to answer this.

[2019-03-13 10:28] mikkokotila commented on #31
It makes sense to have a protocol where we always assume that something can be done in a browser, because it is easy and it does not introduce anything else and allows us to focus on core capabilities instead, prototype fast, etc. etc. and only if that absolutely fails, we consider introducing something new (like an app). Apps are kind of like cognitive garbage...just like we should not use new ma

[2019-03-13 10:30] mikkokotila commented on #31
No. In app you give the permissions to the app, in browser you give permissions to the browser. Access to camera is 17 characters long syntax and works almost universally. (does not work on edge I think).

Once I have the setup in home, we will know much more about all of these things as certainty.

[2019-03-13 10:34] mikkokotila commented on #31
Possibly meaningful here >> https://recordrtc.org/

[2019-03-13 10:37] mikkokotila commented on #31
Some browsers directly support streaming with `<video src="http://skynet/stream.m3u8">`.

So if I understand correct, you could broadcast from your end in the m3u8 file, and then in the portal landing page and some other page we can broadcast in the network what is live right now, the user clicks, which then just opens the page where the stream is broadcasted.

[2019-03-13 10:42] mikkokotila commented on #32
It might be better to just directly go through the formal process. Here is a good starting point >> https://uavcoach.com/drone-laws-in-india/

[2019-03-13 10:42] m-anish commented on #31
Following on from there...
https://www.webrtc-experiment.com/RecordRTC/simple-demos/video-recording.html

Can you check if this works within a mobile browser?

[2019-03-13 10:43] mikkokotila commented on #31
That does not work on my desktop either. MacOSX (old OS) + Chrome.

[2019-03-13 10:44] m-anish commented on #31
Yeah, they say so in the comments.

Do you have an android phone where you can test?

[2019-03-13 11:26] mikkokotila commented on #19
Yes I agree, this will be the first thing I will work on when I get the NUC (will pick it up from post later today). I will create a simple monitoring service which we can plug into any which way we want. Shall we do a separate thread on that (as it will be more specific on feature set)?

[2019-03-13 12:09] mikkokotila commented on #31
This does work on iphone (old). Also I realized that my laptop webcam is disabled so it could never work. I will buy cheap android phone so can test.

[2019-03-13 12:13] mikkokotila commented on #10
What do you mean by that? The image is just a link?

EDIT: ah ok I get it.

[2019-03-13 12:15] mikkokotila commented on #31
Also, I realized that we do have some flexibility initially in terms of supporting streaming, as long as watching is widely supported. For example, if both iphone and android phone works with RecordRTC, then that would do it.

EDIT: I'm studying more about the HTML / Media Source direction and will hopefully start testing things soon in a live network :)

[2019-03-13 12:18] mikkokotila opened #37 "Setting up a minimal Skynet"
Assuming a situation where I have:

- 1x Master Node (NUC)
- 2x Node Type-A (Ar-150)
- 1x Farming sensor

How do I get started? Which version of IIAB I install? Which version of firmware for the Nodes. How do I get the farming sensor connected?

[2019-03-13 13:23] m-anish commented on #31
There are two reasons why we might consider moving to webrtc/hls/newer technologies.

1. They run in-browser, are latest and greatest, are under active development, and offer performance gains.
2. The offer real tangible immediate network bandwidth savings.

Personally, I'm most interested in the second part, but I do fully agree that this is the future.

So,
1. I am going to wait a while before I

[2019-03-13 13:26] m-anish commented on #19
Yes. Lets open another issue.

[2019-03-13 13:35] m-anish commented on #37
### On the NUC

* Choose the network setup you desire.
     * One option is that the NUC's ethernet port acts as WAN (connects with the internet), and only the WiFi acts as LAN. I wouldn't recommend this, since we are also looking to connect the AR150 via LAN
     * Other option is,  connect to the WAN (internet) via a USB-to-Ethernet dongle. So, plug in the USB-to-Ethernet-dongle, and connect you

[2019-03-13 13:37] m-anish commented on #37
### AR150

I'll find the firmware and share with you. Prasenjit might have it. I might have it in my inbox.

[2019-03-13 13:44] m-anish commented on #37
### Farming Sensor

I re-forwarded the email to you with instructions to be able to use the node.

Basically, you need to:
* Change the WiFi AP SSID setting to set the SSID it pairs with. Also change or remove the wifi password.
* Then do an arp-scan to find out what IP address it got.
* Open the IP address in a browser to see if you get the sensor readings.
* If all that happens, then read on...

[2019-03-13 13:46] m-anish commented on #37
You may also consult [this](https://www.youtube.com/watch?v=w9CeKvJqJl4) video if you want to begin with installing in a VM.

[2019-03-14 15:50] thepoeticdream commented on #29
[Ladakh Ecological Development Group](http://www.ledeg.org) is mentioned in [Passive Solar Greenhouse in Ladakh](http://www.solaripedia.com/files/1087.pdf) in being local partner NGO with [GERES](geres.eu) for projects in Zangskar including greenhouses.  Conversation with them if we haven't already would be good to plug in to what they're doing in Zangskar.

There are many reasonable goals for zan

[2019-03-14 17:05] m-anish commented on #29
@thepoeticdream agree! Lets identify things that are tangible goals for zanskar-2019

[2019-03-14 21:26] mikkokotila commented on #29
One thing I've learn in the past is that "access" is really important for local farmers. Can we learn more about it Anish? How do families get their vegetables? How do farmers sell their crop? Are there farm advisers in Zanskar? Where do the farmers get equipment, fertilizer, and other resources?

This is very nice thread. Pinned it.

[2019-03-14 21:31] mikkokotila commented on #29
I think it would be nice to be able to at least a) make sure that data collection from sensors is setup in a meaningful way b) introduce one experimental service in the network that relates somehow to the sensors.

This is interesting because basically they are really far away from it, but in some way the ones that are most apparently affected by it. Because it has to do with water, it will be nic

[2019-03-14 21:38] mikkokotila commented on #34
The principal question that comes into mind is "how to encourage people staying in their mud houses and not replacing them with (or move to) concrete houses". The first thing that comes with big roads is lots of concrete and bank loans.

I'm sure mud house has very important energy aspects that could be highlighted by some sensors. Even to capture data from a small number of houses both concrete a

[2019-03-15 20:43] thepoeticdream commented on #29
Measuring water is something I think the whole village will pay attention to as it can be existentially relevant.

_People in Shun Shadey Village in Zanskar had completely abandoned their village because the glacier that fed their village has completely melted. Likewise, the residents of Kumic village in Sham were being re-located by the government’s initiative along the banks of Zanskar River due

[2019-03-15 21:01] thepoeticdream commented on #29
According to [Indian Meteorological Weather Department Automatic Weather Station](http://www.imdpune.gov.in/aws/aws_index.html) there are 127 automatic weather stations deployed 2006-2007.  And additional 550 automatic weather stations are being deployed 2009 onward described in [ESTABLISHING A NETWORK OF 550 AUTOMATIC WEATHER STATIONS AND 1350 AUTOMATIC RAIN GAUGE STATIONS ACROSS INDIA: SCHEME, S

[2019-03-16 09:59] mikkokotila commented on #31
Ok I've seen enough.

I have now established an understanding, roughly, of what is out there, what are the limitations, what's coming etc. The biggest thing I see is related with formal internet privacy regulation.

WebRTC is the most invasive and easy to exploit technology in the current standard stack, and can be readily used to fingerprint users, see through VPN to the originating IP etc so it'

[2019-03-16 12:06] m-anish commented on #31
I think [hlsjs-p2p-engine](https://github.com/cdnbye/hlsjs-p2p-engine) is worth a serious try! I got it to work in a very simple series of steps.

* Open a terminal and type the following commands
[code]
* Open the file `./hlsjs-p2p-engine/demo/videojs-demo.html`
* Change the m3u8 source line in the file above from whatever it is to `http://localhost:8000/playlist.m3u8`
* In a browser, open `http:

[2019-03-16 14:05] mikkokotila commented on #31
Ok, another part of the puzzle is solved.

[code]
This yields a seemingly compatible way to prompt the user to allow access to device camera and immediately start broadcasting it.

Note that this (and I think all other similar approaches) only work with https.

[2019-03-16 14:09] mikkokotila commented on #31
One upside here is that the same allows screenshots and as far as I understand, screensharing.

[2019-03-16 17:17] mikkokotila commented on #31
Ok, so I'm happy to say that after trying +20 different approaches, I have now peer-2-peer one-to-many live streaming working on IIAB! :)

More tomorrow.

[2019-03-16 17:21] mikkokotila commented on #31
TODO:

- get socket.io server running locally
- test that everything works on the mesh as well
- test recording
- test many-to-many

Then finally after that, create a simple UI that allows going to a URL and starting a broadcast or watching one of the currently live broadcasts (we might want to separate these).

[2019-03-16 19:15] m-anish commented on #31
Would be interesting to know whether you tried the multiwebrtc or the hlsjs-p2p approach, as the latter seems more cross-browser compatible.

Anyway, will wait for more updates!

[2019-03-16 19:24] mikkokotila commented on #31
That's right, we're on [RTCMultiConnection](https://github.com/muaz-khan/RTCMultiConnection).

As you point out, for the time being this is not supported by edge (and I think IE) so that would be something to consider in comparison to [hlsjs-p2p](https://github.com/cdnbye/hlsjs-p2p-engine). It seems that given the choice, we want ie/edge support, or?

[2019-03-16 19:53] m-anish commented on #31
We definitely want more support, and also prefer building upon known, well used, cross platform containers, the likes of which hlsjs-p2p claims to support.

Another thing to consider here is, all kiwix videos are rendered within video.js, so we could potentially alter the code within the kiwix html pages to use hlsjs-p2p. It might be useful in some situations, for eg: a teacher requesting a class

[2019-03-17 13:07] mikkokotila commented on #31
I don't think that [RTCMultiConnection](https://github.com/muaz-khan/RTCMultiConnection) is any worse "supported". I'd say better, because it makes effort to work with php, jquery, etc. We're going to end up using just one of the so-called 'containers' so having support for many does not seem to be a strong qualifier.

Another thing here is that it seems to offer us everything we are looking for,

[2019-03-17 17:39] m-anish commented on #31
I also feel, besides this, we should setup some kind of test environment, and actually test both the solutions in our typical mesh setup and see real performance.

Aside:
Also, in my basic testing on linux mint (based on ubuntu LTS running up-to-date-firefox) multiwebrtc p2p video broadcast didn't work (while it did in brave). So I am less convinced of broad support until i see results.

Video.js

[2019-03-17 17:40] mikkokotila commented on #31
Simple misunderstanding. My bad for ambiguity. The webRTC guy's name is Khan.

[2019-03-17 17:42] m-anish commented on #31
fwiw, it's great that the maintainer of multiwebrtc is a very responsive person! +1 to that

[2019-03-17 17:45] mikkokotila commented on #31
I do agree, but I guess it's pretty easy to just jump to it yet we might end up being years with it. If we have to pull the trigger on this, then may it be hls-2p2 as plan a.

[2019-03-17 18:02] m-anish commented on #31
This might be a useful pointer to go about building a rudimentary web app
https://aaronparecki.com/2016/11/19/15/self-hosted-facebook-live

[2019-03-18 11:22] m-anish commented on #27
@sboruah @Ishanchr it would be ideal to have a working document. Loop in Nikita if you feel like, and cast a wide net about the things you'd like to do. We can help set context. (if needed)

[2019-03-18 11:24] m-anish commented on #33
Subset of #25

[2019-03-18 11:25] m-anish commented on #29
Related to #25

[2019-03-18 11:25] m-anish commented on #24
Related to #25

[2019-03-18 11:27] m-anish commented on #31
Related to #25

[2019-03-18 11:28] mikkokotila commented on #24
@thepoeticdream any idea what IQ8 price range is?

[2019-03-18 11:28] m-anish opened #38 "Brainstorm the future of mesh communication"
This ticket is supposed to track ideas and work related to the future of person to person communication within a mesh. Related to #25

[2019-03-18 11:31] mikkokotila commented on #38
I think it's better not to exclude anything here, so I've edited your intro message a little.

I think voice (and audio) that perish upon consumption is meaningful. Something like snapchat, but much simpler.

[2019-03-18 11:55] m-anish commented on #37
Hi @mikkokotila let me know what else is needed here.

[2019-03-18 12:01] m-anish commented on #17
Assigning to Ishan to take ownership of this.

[2019-03-18 12:06] m-anish commented on #16
@sboruah can you take a call on whether this is happening or not?

[2019-03-18 12:08] mikkokotila opened #39 "logo versions for media kit"
I tried to find the original logo but could not find it. It's not on the drive as well. Where to find it?

[2019-03-18 12:09] m-anish commented on #39
https://github.com/eka-foundation/media/tree/master/logo

[2019-03-18 12:12] mikkokotila commented on #39
I need the actual original for print use. Making a small hand-out card for Eka for the event (and why not later as well). I remember seeing a pdf file with the originals, but can't find it anywhere.

[2019-03-18 12:15] m-anish commented on #39
Okay, the svg's are there in the link I gave. You should be able to produce high quality prints from that. Still, I'm reopening and reassigning to @sboruah for the pdfs.

I am guessing what you're looking for is the logo + eka text?

The two independent elements are present in svgs in the media repo

[2019-03-18 12:20] mikkokotila commented on #39
I'm looking for just the icon. But I think that for future, a minimum media kit will include:

- high res bitmap (png)
- medium res bitmap (png)
- low res bitmap (png what we have already)
- svg

These should be available for:

- just text
- just icon
- both text and icon

Furthermore, each is available as:

- dark on light
- light on dark
- dark on transparent

Easy to produce, and will cover all

[2019-03-18 12:33] m-anish commented on #17
Related issue #31

[2019-03-18 12:33] m-anish commented on #31
Related issue #17

[2019-03-18 14:57] thepoeticdream commented on #24
No.  The release of the off-grid version of the Enphase IQ8 to general market may happen Q4 2019 or later so price is unknown.

[2019-03-18 15:19] m-anish commented on #32
One idea might be to contact major drone vendors in India.

[2019-03-18 15:20] m-anish commented on #32
@thepoeticdream : New RC airplanes have huge range. Might be interesting potential

[2019-03-18 15:27] m-anish commented on #24
@thepoeticdream could you list potential partners we could reach out to?

[2019-03-18 15:40] m-anish commented on #29
Document and understand farming practices within greenhouses.

[2019-03-18 15:44] m-anish commented on #29
Another idea: Speak with Angdus-ji to understand challenges better.

[2019-03-18 15:44] m-anish commented on #29
Related link - https://www.geres.eu/en/

[2019-03-18 15:54] m-anish commented on #24
@m-anish characterize power budgets, and all power needs, especially in winter.

[2019-03-18 16:11] holta commented on #24
Right-sizing solar depends so much on local supply chains and widely varying cultural norms of local electricians.

Many Internet-in-a-Box (named "XSCE" at the time) volunteers deployed solar in Haiti, Ghana, Madagascar and other places around the 2012-2015 timeframe, and did excellent solar field work &mdash; but at the same time many took a step back after that &mdash; the thinking was (1) many

[2019-03-18 16:27] mikkokotila commented on #24
I have also the question related with safety. Energy grid has some unique questions not present in the communications network. Is there a model / framework / set of best practices we can follow?

[2019-03-18 16:31] mikkokotila commented on #32
When it comes to the permit, we just have to apply as it's a formality basically.

[2019-03-18 17:06] mikkokotila commented on #24
https://www.solaredge.com/solutions/grid-services

[2019-03-18 17:11] mikkokotila commented on #24
https://www.sma.de/en/products/smart-module-technology/ts4-r.html

Apparently there is something coming from Huawei as well.

[2019-03-18 21:25] thepoeticdream commented on #24
Understanding the regional solar ecosystem supply chain and local human resources is vital for sustainability and needs to be focussed in EKA solar efforts

[2019-03-18 21:40] thepoeticdream commented on #24
Safety is extremely important as there are inherent dangers involved in different types of solar systems.

I see there is the [Indian National Electrical Code](https://archive.org/details/gov.law.is.nec.2011) which has a solar section in Part 8.

A solar microinverter setup can go up to 220VAC.  A solar string inverter setup can go up to several hundred volts DC.  These are dangerous voltages and

[2019-03-18 21:42] thepoeticdream commented on #24
This [blog post](https://mcelectrical.com.au/blog/solaredge-inverter-optimiser-review/) has some interesting perspectives on SolarEdge failures in Australia

[2019-03-18 22:34] thepoeticdream commented on #29
[Solar Greenhouses for the Trans-Himalayas](http://www.solaripedia.com/files/1086.pdf) is companion  to [Passive Solar Greenhouse in Ladakh](http://www.solaripedia.com/files/1086.pdf)

Theory and construction details for passive solar greenhouse.  10 different design variations depending on setting.  The large south facing transparent window side (glass or polyethelyne film or ???) is a design cha

[2019-03-19 18:53] m-anish commented on #31
Okay, so @pdey @Ishanchr and me made some progress on this. We tested hlsjs-p2p-engine in a video.js container. We setup a schoolserver on an Intel NUC and had two mesh nodes connected to it.

We got encouraging results, and a list of things to do for future runs.

- [ ] The video.js example still relies on some scripts being loaded by a cdn. We need to have them offline.
- [x] The [signaling serv

[2019-03-20 06:29] m-anish commented on #31
Another question/thought.

Do you think this might be doable on the mesh nodes themselves?

[2019-03-20 15:16] thepoeticdream commented on #29
[As Himalayan Glaciers Melt, Two Towns Face the Fallout](https://pulitzercenter.org/reporting/himalayan-glaciers-melt-two-towns-face-fallout)

Stongde village in Zanskar hired Nepali stonemasons to make a stone dam which becomes a frozen pond in winter and then supplies melting water to the village.  It seems the Stongde idea came about hearing of the Ice Stupas.

[2019-03-22 12:01] mikkokotila commented on #31
I can't see any reason why this would not work on just the  mesh node.

[2019-03-25 16:14] thepoeticdream commented on #29
[The Implementation of the Watershed Development Programme in Zangskar, Ladakh: Irrigation Development, Politics and Society.](https://www.soas.ac.uk/water/publications/papers/file38409.pdf)

Good paper giving insights of the nuances of water in Zangskar and of the 2001 government Water Development Programme that had a troubled implementation.

Some takeaways:

Indian census says there are 25 Zang

[2019-03-27 18:15] mitra42 commented on #31
@m-anish asked me to comment ... I built the dweb.archive.org site as a decentralized version of the Internet Archive, and am about half way through a year long project [dweb-mirror](https://github.com/internetarchive/dweb-mirror) for a offline version of the Archive (suitable for mesh networks etc), it currently can crawl IA resources; serve them fully offline and also act as a proxy (saving as y

[2019-03-28 00:33] m-anish commented on #31
@mitra42 thx for commenting!

Did you also get a chance to try hls? We experimented with [hlsjs-p2p-engine](https://github.com/cdnbye/hlsjs-p2p-engine) and got decent results for live streaming and are thinking to build around that? HLS is not 'true' live, and there is a lag of about 10-20 sec but it is perfectly acceptable for our scenario.

Also, re: webtorrent, is there a project that we can te

[2019-03-28 01:15] mitra42 commented on #31
I haven't tried webtorrent for livestreaming, its not our application, our application (at Internet Archive, and in dweb-mirror) is for static video, and in particular to make sure the experience is always as good as a direct connection to the http server.

[2019-03-28 01:18] mitra42 commented on #31
With just video and relatively small number of viewers then for live stream then webrtc (which is what hlsjs is built on) may be what you want, I'm just sceptical of it for viewing static videos given all the problems and how many people have abandoned it. Have you also tried it fully disconnected, webrtc has supposedly some single-point-of-failure issues with single rendezvous servers, but maybe

[2019-03-28 01:27] m-anish commented on #31
Hmm, I haven't yet tried hlsjs-p2p-engine fully offline. It needs a signaling server and a few js files. We ran the signaling server locally but the js files were still being served online. I think we should make it a priority to test it fully offline (@pdey ), but I am optimistic that it should work offline.

For VOD, we do not envision a lot of p2p, atleast initially, as the number of concurrent

[2019-03-28 15:08] georgejhunt commented on #31
Seems like ipv4 multicast can be brought into the picture in the case where a whole class needs to have access to the same video, at the same time

[2019-03-28 17:26] mitra42 commented on #31
If what you are doing is static video, I'd strongly recommend using WebTorrent instead, because I'm guessing that the case of a class watching recommended videos is probably more common than all watching the same video at the same place at the same time.

[2019-03-28 18:24] m-anish commented on #31
Actually, the primary case we want to "optimize" for is live streaming, and server loading during that. That concurrent class watching a video is something that we'll have to see from usage data if it really is a pain point, but it was just a guess that at something which might happen in the future.

But the primary focus remains to make live streaming more decentralized and efficient.

Apologies

[2019-03-28 19:26] mitra42 commented on #31
If what you are doing is static video, I'd strongly recommend using WebTorrent instead, because I'm guessing that the case of a class watching recommended videos is probably more common than all watching the same video at the same place at the same time.

[2019-03-28 19:28] mitra42 commented on #31
Understood - I guess I've not seen livestreaming (i.e. video camera capturing image, showing it elsewhere) being a usecase in disconnected networks, so good to hear that its really an issue for your use cases..

[2019-03-29 08:16] mikkokotila commented on #31
There is absolutely no issue serving js offline via static files. If we like, we can also do it all on node.

[2019-03-29 08:30] mikkokotila opened #40 "Skynet network model"
The Skynet network model has several distinct layers:

- content
- services
- sensors
- connectivity
- hardware

CONTENT refer to what have been created in the network.

SERVICES refer to the various functionalities available in the network.

SENSORS refer to data capture mechanisms in the network.

CONNECTIVITY refer to the conventional sense of networking.

HARDWARE refer to the actual physical

[2019-03-29 08:33] mikkokotila opened #41 "Skynet SERVICES layer"
- Telephony (calls, text messages, voice messages)
- Mail
- Streaming (video and audio)
- Recording (video and audio)
- Authoring (writing)
- Navigation (maps, directions, current location, saved locations)
- Prompting (reminders, triggers, etc)
- Predicting (machine intelligence)
- Listening
- Reading

[2019-03-29 08:34] mikkokotila commented on #40
One important distinction here is on CONTENT. We might still have some contents that are counted as SERVICES as they are static and come with the network, rather than being created by the users.

[2019-03-29 08:37] mikkokotila commented on #38
I think the key point is this. We've lived in communities for a million years. The network should not try to change that radically, like for example Facebook does. The network should embrace that million years of sustainable development and community interaction, and simply facilitate for it.

I think really important point here is, and this is really just my opinion, is to drop static pre-selecte

[2019-03-29 08:39] mikkokotila commented on #36
Can we discuss this, or if there is no strong case, I think that makes the case for dropping it. Maybe instead just take empty media wiki and train communities to use it to create the encyclopedic information relevant to the community, and then later think about inter-community possibilities.

[2019-03-29 09:44] mikkokotila commented on #36
Here are [couple of alternatives](https://oedb.org/ilibrarian/top-7-alternatives-to-wikipedia/) to consider as part of this discussion.

[2019-04-01 07:16] mikkokotila commented on #40
- network coverage
	- network availability
- network services
	- service utilization

[2019-04-03 21:33] holta commented on #29
Are any https://en.wikipedia.org/wiki/Desert_greening techniques (anti-desertification techniques) applicable to North India, where glaciers/water might be running out?

Or are these permaculture techniques (e.g. promoted by Geoff Lawton on YouTube & in many other places) not relevant here?

[2019-04-04 04:29] thepoeticdream commented on #29
Feel there's a recipe for the region to be concocted out of the ingredients of ideas from anti-desertification and permaculture etc but must be the master chef to intuitively pick the right ones to create the appropriate taste for the region.

[2019-04-04 07:56] mikkokotila opened #42 "Skynet captive portal"
We have to create the Skynet captive portal page.

[2019-04-04 08:33] m-anish commented on #42
Separate it out into design and functionality. Design, we can think of incorporating with IIAB in short term (zanskar). Functionality, we can brainstorm for the future.

[2019-04-15 13:32] m-anish opened #43 "Reach out to Go-Green initiative"
There might be synergy between EKA's work and some of Go-Green's projects in Ladakh. Perhaps we should explore opportunities there.

[2019-04-15 13:35] m-anish opened #44 "Purchase Zanskar inventory and tools"
We finally have some funding support and have resources available to buy tools and inventory for Zanskar. We need to start doing this ASAP. Please contact me if you think you can help. If you happen to visit a city, please let me know.

[2019-04-17 09:32] m-anish opened #45 "Order basic camera equipment for media workshop and EKA documentation"
* Lapelle mic
* Audio splitter
* Audio jack adapter

[2019-04-23 10:15] mikkokotila commented on #45
What's the budget for mic?

[2019-04-23 10:16] mikkokotila opened #46 "chinese greenhouse"
This might be relevant:

https://www.lowtechmagazine.com/2015/12/reinventing-the-greenhouse.html

Will do a separate post related with aquaphonics, which I think might be a critically important solution for the future of these communities (as water runs out).

[2019-04-23 10:19] mikkokotila opened #47 "micro power plant"
This looks very interesting actually:

http://www.norup.se/store/Stirlinggenerator_Husagare.pdf

It accepts basically anything that readily burns as fuel, and produce heat  and/or electricity in return.

[2019-04-23 11:44] m-anish opened #48 "Citizen science as a form of interaction with mesh networks"
It came up in the 7th EKA community call that one approach that could be thought about as a form of interaction between the mesh network and users is following a citizen science model.

We are anyway thinking of integrating sensors within skynet, so it would be interesting to consider this approach.

[2019-04-23 12:02] m-anish commented on #48
Subscribed to the public-lab mailing list and sent an initial reach-out email.

https://groups.google.com/forum/#!forum/publiclaboratory

[2019-04-23 12:05] m-anish opened #49 "What incentives are there for local participants to maintain a mesh network"
Perhaps we need to more deeply think about incentives for people who will undergo training and will be responsible for maintaining and extending the mesh network while the rest of us from Dharamsala are gone. The success of this project could largely depend on this.

[2019-04-23 12:32] m-anish commented on #49
Also, it might be an interesting idea to consider bringing people who will maintain/extend the mesh network to Dharamsala for some training as our time there will be stretched across many activities.

[2019-04-26 15:10] mikkokotila commented on #49
This seems like a key question to ask. I'll call and let's discuss this.

[2019-04-27 11:09] mikkokotila commented on #49
Why does a farmer cultivate their fields? Why does a mother nurture their child? Why does a person do a good job?

All these, and any human behavior is generally speaking affected by four aspects:

- having the required understanding
- having the required motivation
- having the required ability
- having the required reminders

For example, a person might come to understand the many negative effec

[2019-04-27 11:10] mikkokotila commented on #49
So the very short answer is that incentives is just one part, motivation. Generally speaking behavior change interventions that focus on motivations fail. For example, a very large number of smokers want to quit smoking but still don't.

[2019-04-27 11:13] mikkokotila commented on #43
I think so. I should be in Ladakh in not so distant future, so it's probably best to have some discussions in-person while there.

[2019-04-27 11:23] mikkokotila commented on #49
Basically, the process could be expressed as a progression of questions:

#### UNDERSTANDING: What is the behavior change?

This can be simply expressed in two questions:

1. how is the world right now?
2. how will the world be after the behavior change?

But because this is not very useful, it's better to use these four questions:

1. what is wrong with things right now?
2. what are the causes th

[2019-04-27 12:59] pdey commented on #31
**Updates on hls-js-p2p engine:**
I tried to  get hls-js-p2p engine to work fully offline.

**What works**
- video streaming is working. Though the video.js library used in this project is deprecated.

**What does not work**
- Found that the engine actually uses a live CDN that takes care of p2p sharing and caching. The p2p sharing service is disabled on this CDN now. So we don't have p2p sharing

[2019-04-27 18:20] m-anish commented on #31
Prasenjit, I also had some conversations and thought processes around this. Lets talk soon!

[2019-04-28 15:21] m-anish commented on #31
Prasenjit, I also had some conversations and thought processes around this. Lets talk soon!

[2019-04-28 17:28] thepoeticdream commented on #46
Yes, it's relevant and the fundamentals agree with [Solar Green Houses for the Trans-Himalayas](http://www.solaripedia.com/files/1086.pdf) The limited building material supply chain in Ladakh constrains what could be achieved vs. the passive solar greenhouses in China where more modern efficicient materials are readily available.

Aquaponics is very much something that could be the future in the e

[2019-04-29 09:27] mikkokotila commented on #46
What kind of infrastructure do you have in mind?

[2019-04-29 17:59] thepoeticdream commented on #46
Electrical infrastructure mainly.  Aquaponics is water pumps, water filtration, water aeration, LED grow lights which requires electricity.  Needs to be reliable electricity or all the fish can die in the aquaponics setup because water aeration not happening from power cut etc.  Try to scale aquaponics production sufficient for the region and that becomes a lot of electricity required.  Feel the r

[2019-04-30 14:52] mikkokotila commented on #46
@thepoeticdream thanks for clarifying. Very useful to understand this clearly.

[2019-05-14 05:20] mikkokotila opened #50 "Ethical Storyboarding for Engineering Projects"
I found this article really inspiring and insightful:

https://towardsdatascience.com/ethical-storyboarding-for-machine-learning-7c5b5a031173

I really think we should try this. What do you think?

It will also become a really great way to communicate with the world about plans that would otherwise be hard to communicate in an interesting way.

[2019-06-18 12:14] pdey commented on #31
[bundle.zip](https://github.com/eka-foundation/home/files/3302980/bundle.zip)
@m-anish
Writing down the details of obs studio + nginx + hls setup
# Install and setup NGINX
## Download
sudo apt-get install build-essential libpcre3 libpcre3-dev libssl-dev
wget http://nginx.org/download/nginx-1.7.5.tar.gz
wget https://github.com/arut/nginx-rtmp-module/archive/master.zip

## Extract
tar -zxvf nginx-1.

[2019-06-19 06:32] m-anish commented on #31
Work on this lives:

1. In an [IIAB playbook](https://github.com/iiab/iiab/pull/1743)
2. In a [simple html webpage](https://github.com/eka-foundation/html-videojs-bundle)

[2019-06-19 11:33] m-anish commented on #31
FWIW. something for the future. https://openvidu.io/

[2019-06-21 07:54] mikkokotila opened #51 "features for an ideal chipset"
While AR-150 and its chipset is a gift that keeps giving, it is coming to EOL in a year or so. This means that we have the opportunity to think about a chipset that would be in the market in the next 2-3 years, that would be our new home.

- peak speed (> 1Gb/s)
- transmission power (@m-anish how much is enough?)
- cost (< $40 per complete node)
- power draw (@m-anish how much is too much?)
- 802.

[2019-07-19 03:17] m-anish commented on #31
This might be interesting too - https://github.com/arslancb/clipbucket

Looks like for Zanskar 2019 - we are going with [cham](https://github.com/eka-foundation/cham)

[2019-07-19 05:14] m-anish opened #52 "Zanskar - pre departure tasks"
### Logistics

- [ ] Buy medicines - Altitude, Fever, Pain, Proboitic, Antibiotic, Bandage, Bandaid
- [ ] Move bhagsu space stuff
- [ ] List of medicines - Sooji
- [ ] Labeling  - Sooji+Ishan
- [ ] Tatasky dishes + transport - Sooji
- [ ] 2 printers - 1005, 1136

### Hardware

- [ ] Prepare mesh nodes, battery bank
- [ ] Mount nut on camera, finishing touches to streaming
- [ ] NUC battery bank
-

[2019-11-24 01:42] mitra42 commented on #31
@m-anish There isn't any docs on that cham page,
* is it online (live) only, or also for authoring podcasts ?
* how does it get installed - and is that easy on IIAB or any concerns ?

[2019-12-17 14:00] m-anish commented on #31
Hi @mitra42 Apologies for such a late reply.

For Zanskar, we went ahead with Cham, but there were a lot of changes that were made to it while in Zanskar. @pdey and @so-ale probably have those in their personal repos/storage.

Also, as it turns out, there seems to be some issue with the intel NUC (we don't know whether it is hardware or software at this point), but the network hasn't been operatio

[2019-12-17 21:12] mitra42 commented on #31
Thanks @m-anish, that sounds replicable, which would be great, I'm hoping our first deploy is going to be in a limited-internet school in Indonesia, and it looks likely they will want to integrate local content.

I look forward to a bit more detail on that setup, there are a bunch of new things there (OBS, rtmp, cham,), which I can look up, but piecing them all together would be much quicker with

[2019-12-18 19:08] pdey commented on #31
@m-anish I think you will get the code base soon. If you need it any earlier, i have a copy in one of my hard drives but i am not sure if it has the latest snapshot.

[2020-01-03 10:10] m-anish commented on #31
Hi @mitra42

So, I updated the cham repo to the latest codebase. But there is a catch. The installation of cham is really in two parts:

1. The html frontend that displays the live video stream.
2. The backend with rtmp, nginx etc.

I had written a cham playbook for iiab that does everything that is needed for a working setup, but there have been many changes to iiab since so I no longer know if m

[2020-01-03 23:21] mitra42 commented on #31
Thanks - I could see using it in either context (standalone or IIAB) so probably doing the IIAB one is best - especially since I think that is what you are using? With a working set on IIAB I can always look at how to adapt that to a different setup if required.

[2020-01-04 04:33] m-anish commented on #31
hmm... okay. Let me try an IIAB install on a VM and see how it goes. Give me a couple of days to iron out the proper instructions for you and make any necessary changes in the PR.

[2020-01-05 12:36] m-anish commented on #31
@mitra42 I updated the PR that adds cham to IIAB.
https://github.com/iiab/iiab/pull/1743

You can try a fresh iiab install. I tried on a VM with Ubuntu 19.10 and it seemed to work.

[2020-01-05 21:00] mitra42 commented on #31
Will do, @holta wants me to do a test with the current version anyway, so can do both at same time.

[2020-01-30 20:58] holta commented on #31
@m-anish if you can in coming days, please help @mitra42 with his Cham installation question @ iiab/iiab#2209 ?